// partial
$primary-color: #272727;
$secoundry-color:#3e3e3e;
$light-color:#f7f7f7;
$succes-color:rgb(47, 139, 85);
$error-color:  rgb(165, 54, 54);
$font-weights-map: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$mobile: 800px;